<div class="currency-container h-full">
    <h1>Currencies</h1>
   @if(currencies$()){
    <div class=" flex flex-row items-center gap-2">
        
    </div>
    @for(currency of currencies$(); track currency){
        <div class=" flex flex-row items-center gap-2">
            <span [class]="currency.flag"></span>
            <div class="w-20">{{ currency.name }}</div>
            <p-button [icon]="currency.isFavorite ? 'pi pi-heart-fill': 'pi pi-heart'" [rounded]="true" severity="danger" [text]="true" />
            <p-button [icon]="currency.isFavorite ? 'pi pi-heart-fill': 'pi pi-heart'" [rounded]="true" severity="danger" [text]="true" />
        </div>
    }
   }@else{

   }
</div>
