@import "primeicons/primeicons.css";
@layer tailwind-base, primeng, tailwind

@layer tailwind-base {
  @tailwind base;
}
@layer tailwind {
  @tailwind components;
  @tailwind utilities;
}

html, body{
  padding: 0;
  margin: 0 !important;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}


